ipykernel
datasets==2.16.1
openai==1.30.1
PyPDF2==3.0.1
transformers==4.37.2
langchain_experimental
langchain_openai
python-dotenv==1.0.1
pyyaml==6.0.1
coloredlogs==15.0.1
mdc==1.2.1
pytest==8.1.2
wand

promptflow-core==1.14.0
promptflow-devkit==1.14.0
promptflow-tracing==1.14.0
promptflow-azure==1.14.0

promptflow-evals==0.3.1

# Fine-tuning
azure-ai-ml
azure-identity
mlflow
azureml-mlflow

matplotlib==3.9.1
numpy==1.26.4

# To run notebooks from the command line
papermill==2.6.0
